body.topBarEnabled {
    padding-top: 80px;
}

body.topBarEnabled div.row-fluid a[name] {
    padding-top: 80px;
    margin-top: -80px;
}

ul.breadcrumb {
    margin: 0px;
    padding: 0px;
}

div#bannerLeft, div#bannerRight {
    display: none;
}

ul.breadcrumb li.pull-right {
    display: block;
}
